<div class="container">
  <div class="inner">
    <h2>Codepen</h2>
    <h3>- Some picks from Codepen (<a href="http://codepen.io/adam2326/" target="_blank">codepen.io/adam2326</a>)</h3>
    <div class="codepen">
      <div class="flex-container equalHMRWrap eqWrap">
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/VYMOdx" target="_blank" class="title">Fancy forms</a>
          <p class="info">Material design style form elements.</p>
          <a href="http://codepen.io/adam2326/pen/VYMOdx" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/QwQmEX" target="_blank" class="title">Fancy mobile layout</a>
        <p class="info">Swipe mobile layout using hammer.js</p>
        <a href="http://codepen.io/adam2326/pen/QwQmEX" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/PwQqLB" target="_blank" class="title">Fancy dropdown menu</a>
          <p class="info">Animated dropdown menu gmail style!</p>
          <a href="http://codepen.io/adam2326/pen/PwQqLB" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/raJrbw" target="_blank" class="title">Fancy mobile menu</a>
          <p class="info">Simple css hamburger menu with animation.</p>
          <a href="http://codepen.io/adam2326/pen/raJrbw" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/WbdNee" target="_blank" class="title">Fancy Floaty button</a>
          <p class="info">Floating button / effective call to action.</p>
          <a href="http://codepen.io/adam2326/pen/WbdNee" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/ucjgx" target="_blank" class="title">CSS 3D Kitchen</a>
          <p class="info">3d kitchen built with css and image sprite!</p>
          <a href="http://codepen.io/adam2326/pen/ucjgx" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/EjWjqX" target="_blank" class="title">Button hover animation</a>
          <p class="info">Simple button hover border animation.</p>
          <a href="http://codepen.io/adam2326/pen/EjWjqX" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/OVzVqM" target="_blank" class="title">Fancy side menu</a>
          <p class="info">Sliding menu that appears from behind page.</p>
          <a href="http://codepen.io/adam2326/pen/OVzVqM" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/oXdxXY" target="_blank" class="title">Fancy checkbox</a>
          <p class="info">A slightly cooler way to display checkboxes.</p>
          <a href="http://codepen.io/adam2326/pen/oXdxXY" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/WvdbpP" target="_blank" class="title">Super simple tabs</a>
          <p class="info">Super simple tabs, only a few lines of jquery.</p>
          <a href="http://codepen.io/adam2326/pen/WvdbpP" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <a href="http://codepen.io/adam2326/pen/WvdbpP" target="_blank" class="title">Super simple tabs</a>
          <p class="info">Super simple tabs, only a few lines of jquery.</p>
          <a href="http://codepen.io/adam2326/pen/WvdbpP" target="_blank" class="btn yellow"><i class="fa fa-external-link" aria-hidden="true"></i> View Pen</a>
        </div>
        <div class="unit unit25 equalHMR eq">
          <!-- <a href="http://codepen.io/adam2326/" target="_blank" class="btn yellowfloating codepen">View More</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
