<div class="line"></div>
<div class="inner">
  <h2>Codepen</h2>
  <h3>- Some picks from Codepen (<a href="http://codepen.io/adam2326/" target="_blank">codepen.io/adam2326</a>)</h3>
  <div class="codepen">
    <div class="flex-container equalHMRWrap eqWrap">
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/VYMOdx" class="title">Fancy forms</a>
        <p class="info">Material design style form elements.</p>
        <a href="http://codepen.io/adam2326/pen/VYMOdx" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/QwQmEX" class="title">Fancy mobile layout</a>
      <p class="info">Swipe mobile layout using hammer.js</p>
      <a href="http://codepen.io/adam2326/pen/QwQmEX" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/PwQqLB" class="title">Fancy dropdown menu</a>
        <p class="info">Animated dropdown menu gmail style!</p>
        <a href="http://codepen.io/adam2326/pen/PwQqLB" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/raJrbw" class="title">Fancy mobile menu</a>
        <p class="info">Simple css hamburger menu with animation.</p>
        <a href="http://codepen.io/adam2326/pen/raJrbw" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/WbdNee" class="title">Fancy Floaty button</a>
        <p class="info">Floating button / effective call to action.</p>
        <a href="http://codepen.io/adam2326/pen/WbdNee" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/ucjgx" class="title">CSS 3D Kitchen</a>
        <p class="info">3d kitchen built with css and image sprite!</p>
        <a href="http://codepen.io/adam2326/pen/ucjgx" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/EjWjqX" class="title">Button hover animation</a>
        <p class="info">Simple button hover border animation.</p>
        <a href="http://codepen.io/adam2326/pen/EjWjqX" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/OVzVqM" class="title">Fancy side menu</a>
        <p class="info">Sliding menu that appears from behind page.</p>
        <a href="http://codepen.io/adam2326/pen/OVzVqM" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/oXdxXY" class="title">Fancy checkbox</a>
        <p class="info">A slightly cooler way to display checkboxes.</p>
        <a href="http://codepen.io/adam2326/pen/oXdxXY" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/WvdbpP" class="title">Super simple tabs</a>
        <p class="info">Super simple tabs, only a few lines of jquery.</p>
        <a href="http://codepen.io/adam2326/pen/WvdbpP" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <a href="http://codepen.io/adam2326/pen/WvdbpP" class="title">Super simple tabs</a>
        <p class="info">Super simple tabs, only a few lines of jquery.</p>
        <a href="http://codepen.io/adam2326/pen/WvdbpP" class="btn codepen">View Pen <span></span></a>
      </div>
      <div class="unit unit25 equalHMR eq">
        <!-- <a href="http://codepen.io/adam2326/" target="_blank" class="btn-floating codepen">View More</a> -->
      </div>
    </div>
  </div>
</div>
