<div class="line"></div>
<div class="inner">

  <h2>Me</h2>
  <h3>- The cringey awkward bit</h3>

  <div class="flex-container">
    <div class="unit unit50">
      <p>Front end developer / web designer with over four year's experience working on responsive websites, web apps, ruby on rails, HTML emails, Wordpress websites/blogs, chrome extensions, Phonegap apps, AngularJS, wireframing, designing websites, iOS and Android apps using Photoshop and more recently Sketch.</p>
      <p>Currently working for a digital agency creating websites using Craft and Wordpress. Spening most of my free time learning Angular, React and Ruby on Rails.</p>
    </div>
    <div class="unit unit50 dark">
      <div id="skills"></div>
    </div>
  </div>

  <div class="about-container">
    <!-- <ul class="skills">
      <li>HTML / HTML 5</li>
      <li>Ruby on Rails</li>
      <li>CSS/SASS</li>
      <li>JavaScript / jQuery</li>
      <li>AngularJS</li>
      <li>Wordpress</li>
      <li>Craft CMS</li>
      <li>Chrome / Safari Extensions</li>
      <li>Photoshop</li>
      <li>Sketch</li>
      <li>Canvas</li>
      <li>Phonegap</li>
      <li>HTML Emails</li>
      <li>Cross browser testing</li>
    </ul> -->

    <!-- <h2>Me</h2>
    <h3>- The cringey awkward bit</h3>
    <p>Front end developer / web designer with over four year's experience working on responsive websites, web apps, ruby on rails, HTML emails, Wordpress websites/blogs, chrome extensions, Phonegap apps, AngularJS, wireframing, designing websites, iOS and Android apps using Photoshop and more recently Sketch.</p>
    <p>Currently working for a digital agency creating websites using Craft and Wordpress. Spening most of my free time learning Angular, React and Ruby on Rails.</p> -->
  </div>
</div>
