<div class="line"></div>
<div class="inner">
  <h2>Me</h2>
  <h3>- The cringey awkward bit</h3>
  <p>Front end developer / web designer with over four year's experience working on responsive websites, web apps, ruby on rails, HTML emails, Wordpress websites/blogs, chrome extensions, Phonegap apps, AngularJS, wireframing, designing websites, iOS and Android apps using Photoshop and more recently Sketch.</p>
  <ul class="skills">
    <li>HTML / HTML 5</li>
    <li>Ruby on Rails</li>
    <li>CSS 3 / SASS/SCSS</li>
    <li>Wordpress theming / PHP</li>
    <li>JavaScript / jQuery (including jQuery mobile)</li>
    <li>AngularJS</li>
    <li>Photoshop</li>
    <li>Chrome/Safari Extensions</li>
    <li>Sketch</li>
    <li>API’s/JSON</li>
    <li>Canvas</li>
    <li>Phonegap</li>
    <li>HTML Emails</li>
    <li>Cross browser testing (including IE6)</li>
  </ul>
  <a href="#contact" class="btn-floating me">Get in Touch</a>
</div>
