<div class="inner">
  <h2>Portfolio</h2>
  <h3>- A few of the websites I've worked on</h3>
  <div class="flex-container">
    <div class="portfolio">
      <div class="unit unit50 no-padding dark"><a href="#">Conjure<span>View Website</span></a></div>
      <div class="unit unit50 no-padding"><a href="#">Conjure Automotive<span>View Website</span></a></div>

      <div class="unit unit25 no-padding"><a href="#">Love2Race<span>View Website</span></a></div>
      <div class="unit unit25 no-padding"><a href="#">Above &amp; Beyond<span>View Website</span></a></div>
      <div class="unit unit25 no-padding"><a href="#">Worton Hall<span>View Website</span></a></div>
      <div class="unit unit25 no-padding"><a href="#">Euro City<span>View Website</span></a></div>

      <div class="unit unit33 no-padding"><a href="#">Davesell.com<span>View Website</span></a></div>
      <div class="unit unit33 no-padding"><a href="#">Stillwell<span>View Website</span></a></div>
      <div class="unit unit33 no-padding"><a href="#">Mobile Adventures<span>View Website</span></a></div>

      <div class="unit unit50 no-padding"><a href="#">Cloud DNA<span>View Website</span></a></div>
      <div class="unit unit50 no-padding"><a href="#">Acorn Limited<span>View Website</span></a></div>
    </div>
  </div>
</div>
