<div class="container">
  <div class="inner">
    <h2>Portfolio</h2>
    <h3>- A few of the websites I've worked on</h3>
    <div class="flex-container">
      <div class="portfolio">
        <div class="unit unit50 no-padding alt"><a href="#">Conjure<span class="btn dark"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>
        <div class="unit unit50 no-padding"><a href="#">Conjure Automotive<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>

        <div class="unit unit25 no-padding"><a href="#">Love2Race<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>
        <div class="unit unit25 no-padding"><a href="#">Above &amp; Beyond<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>
        <div class="unit unit25 no-padding"><a href="#">Worton Hall<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>
        <div class="unit unit25 no-padding"><a href="#">Euro City<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>

        <div class="unit unit33 no-padding"><a href="#">Davesell.com<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>
        <div class="unit unit33 no-padding"><a href="#">Stillwell<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>
        <div class="unit unit33 no-padding"><a href="#">Mobile Adventures<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>

        <div class="unit unit50 no-padding"><a href="#">Cloud DNA<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>
        <div class="unit unit50 no-padding"><a href="#">Acorn Limited<span class="btn"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span></a></div>
      </div>
    </div>
  </div>
</div>
