<div class="line"></div>
<div class="inner">
  <h2>Portfolio</h2>
  <h3>- A few of the websites I've worked on</h3>
  <!-- <table>
    <tr>
      <th>Website</th>
      <th>Involvement</th>
    </tr>
    <tr>
      <td class="website"><a href="http://love2race.com/" target="_blank">Love2race.com</a></td>
      <td>
        Craft CMS, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.acornlimited.co.uk/" target="_blank">Acornlimited.co.uk</a></td>
      <td>
        Craft CMS, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.yourmobileadventure.com/" target="_blank">Yourmobileadventure.com</a></td>
      <td>
        Ruby on rails, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.a-bp.co.uk/" target="_blank">A-bp.co.uk</a></td>
      <td>
        Craft CMS, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://wortonhall.co.uk/" target="_blank">Wortonhall.co.uk</a></td>
      <td>
        Craft CMS, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.celestialbeacons.com/" target="_blank">Celestialbeacons.com</a></td>
      <td>
        Ruby on rails, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.kbpentathlonapp.co.uk/" target="_blank">Kbpentathlonapp.co.uk</a></td>
      <td>
        Design (Photoshop), Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.barstillwell.com/" target="_blank">Barstillwell.com</a></td>
      <td>
        Design (Photoshop), Ruby on rails, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://blog.barstillwell.com" target="_blank">Blog.barstillwell.com</a></td>
      <td>
        Design (Photshop), Wordpress, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://phobolt.com/" target="_blank">Phobolt.com</a></td>
      <td>
        Ruby on rails, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.cv-library.co.uk/" target="_blank">Cv-library.co.uk</a></td>
      <td>
        Design, front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.garganinteriors.com/" target="_blank">Garganinteriors.com</a></td>
      <td>
        Ruby on rails, Front end.
      </td>
    </tr>
    <tr>
      <td class="website"><a href="http://www.davesell.com/" target="_blank">davesell.com</a></td>
      <td>
        Wordpress, Front end.
      </td>
    </tr>
  </table> -->
</div>
