<!-- <div class="line"></div> -->
<div class="inner">
  <h2>
    Current Projects
    <small>- What I'm doing in my spare time</small>
  </h2>
  <!-- <h3>- What I'm doing in my spare time</h3> -->

  <div class="projects-container">
    <div class="cards-container">
      <div class="card-container">
        <a href="https://chrome.google.com/webstore/detail/stack-overflow-counter/mfmnldmhlmedlaeodmdjkiikgjmbpfnl" target="_blank" class="card">
          <div class="top" style="background-image: url(/images/project_02.jpg);"></div>
          <div class="bottom">
            <h3>Stack Overflow Counter</h3>
            <p>This is something I put together as a bit of fun to see how many times my work colleague and I were visiting stackoverflow.com each day, week and month.</p>
            <div class="footer">
              <span class="link">View Project</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card-container">
        <a href="https://chrome.google.com/webstore/detail/newtab/likenmggpjdbigpmbmgknmfegnmpfplf" target="_blank" class="card">
          <div class="top" style="background-image: url(/images/project_01.jpg);"></div>
          <div class="bottom">
            <h3>Another New Tab</h3>
            <p>I know there are hundreds of these in the chrome store already, but I wanted one that did what I wanted and I wanted to learn how to make chrome extensions!</p>
            <div class="footer">
              <span class="link">View Project</span>
            </div>
          </div>
        </a>
      </div>
      <div class="card-container">
        <a href="#" target="_blank" class="card">
          <div class="top" style="background-image: url(/images/project_03.jpg);"></div>
          <div class="bottom">
            <h3>CSS Snippets</h3>
            <p>Currently developing a website with little snippets of code mostly html, css and javascript useful for me to copy and paste into new projects and maybe helpful for others.</p>
            <div class="footer">
              <span class="link">View Project</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
