<div class="container">
  <div class="inner">
    <h2>Current Projects</h2>
    <h3>- What I'm doing in my spare time</h3>
    <div class="projects-container">
      <div class="cards-container">
        <div class="card-container">
          <div class="card">
            <div class="top" style="background-image: url(/images/project_02.jpg);"></div>
            <div class="bottom">
              <h3>Stack Overflow Counter</h3>
              <div class="row">
                <span class="label small pink">Chrome extension</span> <span class="label small pink">Javascript</span>
              </div>
              <p>This is something I put together as a bit of fun to see how many times my work colleague and I were visiting stackoverflow.com each day, week and month.</p>
              <div class="footer">
                <span class="btn pink"><i class="fa fa-download" aria-hidden="true"></i> Download</span>
                <span class="btn pink"><i class="fa fa-github-alt" aria-hidden="true"></i> Github Project</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <div class="top" style="background-image: url(/images/project_01.jpg);"></div>
            <div class="bottom">
              <h3>Another New Tab</h3>
              <div class="row">
                <span class="label small pink">Chrome extension</span> <span class="label small pink">Angular JS</span>
              </div>
              <p>I know there are hundreds of these in the chrome store already, but I wanted one that did what I wanted and I wanted to learn how to make chrome extensions!</p>
              <div class="footer">
                <span class="btn pink"><i class="fa fa-download" aria-hidden="true"></i> Download</span>
                <span class="btn pink"><i class="fa fa-github-alt" aria-hidden="true"></i> Github Project</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <div class="top" style="background-image: url(/images/project_03.jpg);"></div>
            <div class="bottom">
              <h3>Fifa Randomiser</h3>
              <div class="row">
                <span class="label small pink">React JS</span>
              </div>
              <p>I know there are hundreds of these in the chrome store already, but I wanted one that did what I wanted and I wanted to learn how to make chrome extensions!</p>
              <div class="footer">
                <span class="btn pink"><i class="fa fa-external-link" aria-hidden="true"></i> View Website</span>
                <span class="btn pink"><i class="fa fa-github-alt" aria-hidden="true"></i> Github Project</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
