<div class="wrapper">

  <div class="hammer-container">

    <div class="left">
      <div class="fixed-nav">
        <header>
          <h1>Adam Fidler</h1>
          <h2>Front End Developer</h2>
          <h3>0798 605 7038</h3>
          <h3><a href="mailto:hello@reldif.co.uk">hello@reldif.co.uk</a></h3>
        </header>
        <nav>
          <ul class="main">
            <li>
              <a href="#me" class="link1">
                <svg version=1.1 id=Capa_1 xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink x=0px y=0px width=45.682px height=45.682px viewBox="0 0 45.682 45.682" style="enable-background:new 0 0 45.682 45.682" xml:space=preserve><g><g><path d="M32.102,19.679c1.211-0.259,2.328-1.26,2.51-3.48c0.15-1.817-0.316-2.753-1.004-3.23c1.91-7.785-3.358-9.309-3.358-9.309
        s-3.937-6.679-11.618-1.992c-0.977,0.596-2.496,1.738-3.401,2.917c-1.453,1.546-2.442,4.059-2.597,8.129
        c-0.938,0.358-1.675,1.264-1.492,3.484c0.192,2.321,1.403,3.309,2.677,3.511c1.72,4.189,5.116,7.641,9.135,7.641
        C26.982,27.35,30.385,23.882,32.102,19.679z M22.954,25.397c-4.647,0-8.389-6.31-8.389-11.535c0-0.716,0.023-1.38,0.067-1.996
        c6.797,0.297,10.817-2.428,13.005-4.792c2.075,2.068,3.153,4.68,3.704,6.619c0,0.056,0.001,0.111,0.001,0.168
        C31.343,19.087,27.602,25.397,22.954,25.397z"/><path d="M20.292,33.297l0.538-2.227c0.062-0.257,0.195-0.477,0.375-0.646c-0.055-0.039-0.109-0.08-0.162-0.123l-4.806-3.979
        l-2.925,0.684c-4.953,1.165-8.443,5.348-8.443,10.146v6.3c0,1.24,1.103,2.229,2.423,2.229h12.381l1.888-10.762
        C20.713,34.908,20.092,34.125,20.292,33.297z"/><path d="M32.42,27.006l-2.885-0.684l-4.801,3.979c-0.053,0.043-0.105,0.084-0.16,0.123c0.181,0.169,0.314,0.389,0.377,0.646
        l0.537,2.227c0.201,0.827-0.42,1.611-1.269,1.623l1.888,10.762h12.381c1.32,0,2.324-0.988,2.324-2.229v-6.3
        C40.814,32.354,37.373,28.171,32.42,27.006z"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                <span>Me</span>
              </a>
            </li>
            <li>
              <a href="#projects" class="link2">
                <svg version=1.1 id=Capa_1 xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink x=0px y=0px viewBox="0 0 502.664 502.664" style="enable-background:new 0 0 502.664 502.664" xml:space=preserve><g><g><path d="M153.821,358.226L0,274.337v-46.463l153.821-83.414v54.574L46.636,250.523l107.185,53.431
        C153.821,303.954,153.821,358.226,153.821,358.226z"/><path d="M180.094,387.584L282.103,115.08h32.227L212.084,387.584H180.094z"/><path d="M348.843,358.226v-54.272l107.164-52.999l-107.164-52.59v-53.927l153.821,83.522v46.183
        L348.843,358.226z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                <span>Current Projects</span>
              </a>
            </li>
            <li>
              <a href="#portfolio" class="link3">
                <svg version=1.1 id=Capa_1 xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink x=0px y=0px width=50.244px height=50.244px viewBox="0 0 50.244 50.244" style="enable-background:new 0 0 50.244 50.244" xml:space=preserve><g><g><g><path d="M27.587,29.787v-1.117c0-1.36-1.104-2.463-2.463-2.463c-1.361,0-2.464,1.103-2.464,2.463v1.117
          c0,1.359,1.103,2.463,2.464,2.463C26.483,32.25,27.587,31.147,27.587,29.787z"/><path d="M29.276,31.149c-0.545,1.787-2.19,3.1-4.152,3.1c-1.963,0-3.608-1.312-4.154-3.1H4.001c-1.071,0-2.083-0.249-2.991-0.681
          v11.267c0,2.2,1.8,4,4,4h40.226c2.2,0,4-1.8,4-4V30.469c-0.908,0.432-1.92,0.681-2.99,0.681L29.276,31.149L29.276,31.149z"/><path d="M46.078,10.917h-9.602c-0.579-3.626-3.722-6.408-7.508-6.408h-7.694c-3.787,0-6.927,2.782-7.508,6.408h-9.6
          c-2.292,0-4.167,1.8-4.167,4v9.233c0,2.208,1.791,4,4,4h16.78c0.057-1.149,0.551-2.186,1.332-2.933
          c0.024-0.022,0.052-0.041,0.077-0.063c0.173-0.159,0.353-0.309,0.55-0.439c0.07-0.047,0.15-0.079,0.223-0.121
          c0.162-0.093,0.322-0.19,0.497-0.262c0.137-0.057,0.285-0.09,0.429-0.133c0.124-0.037,0.242-0.086,0.371-0.112
          C24.538,24.03,24.827,24,25.122,24c0.296,0,0.584,0.031,0.863,0.087c0.128,0.026,0.247,0.075,0.372,0.112
          c0.144,0.043,0.29,0.076,0.429,0.134c0.174,0.072,0.333,0.168,0.495,0.261c0.073,0.043,0.153,0.075,0.225,0.122
          c0.197,0.129,0.376,0.279,0.549,0.438c0.025,0.023,0.056,0.041,0.078,0.065c0.782,0.748,1.275,1.782,1.332,2.933h16.78
          c2.209,0,4-1.791,4-4v-9.233C50.245,12.717,48.37,10.917,46.078,10.917z M17.619,10.917c0.51-1.541,1.947-2.664,3.657-2.664
          h7.694c1.709,0,3.146,1.123,3.656,2.664H17.619z"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                <span>Portfolio</span>
              </a>
            </li>
            <li>
              <a href="#codepen" class="link4">
                <svg version=1.1 id=Capa_1 xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink x=0px y=0px width=31.665px height=31.665px viewBox="0 0 31.665 31.665" style="enable-background:new 0 0 31.665 31.665" xml:space=preserve><g><path d="M16.878,0.415c-0.854-0.565-1.968-0.552-2.809,0.034L1.485,9.214c-0.671,0.468-1.071,1.233-1.071,2.052v9.444
      c0,0.84,0.421,1.623,1.122,2.086l12.79,8.455c0.836,0.553,1.922,0.553,2.758,0l13.044-8.618c0.7-0.463,1.122-1.246,1.122-2.086
      v-9.279c0-0.839-0.421-1.622-1.121-2.085L16.878,0.415z M26.621,10.645l-4.821,3.237l-4.521-3.288L17.25,4.127L26.621,10.645z
       M13.979,4.133v6.329l-4.633,3.24l-4.621-3.099L13.979,4.133z M3.458,13.722l2.991,2.004l-2.991,2.093V13.722z M14.058,27.215
      l-9.331-6.258l4.661-3.258l4.67,3.133V27.215z M12.286,15.674l3.021-2.113l3.519,2.313l-3.119,2.095L12.286,15.674z M17.354,27.215
      V20.83l4.463-2.991l4.805,3.159L17.354,27.215z M27.954,17.927l-3.168-2.082l3.168-2.125V17.927z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                <span>Codepen</span>
              </a>
            </li>
            <li>
              <a href="#contact" class="link5">
                <svg version=1.1 id=Capa_1 xmlns=http://www.w3.org/2000/svg xmlns:xlink=http://www.w3.org/1999/xlink x=0px y=0px viewBox="0 0 495.003 495.003" style="enable-background:new 0 0 495.003 495.003" xml:space=preserve><g id=XMLID_51_><path id=XMLID_53_ d="M164.711,456.687c0,2.966,1.647,5.686,4.266,7.072c2.617,1.385,5.799,1.207,8.245-0.468l55.09-37.616
      l-67.6-32.22V456.687z"/><path id=XMLID_52_ d="M492.431,32.443c-1.513-1.395-3.466-2.125-5.44-2.125c-1.19,0-2.377,0.264-3.5,0.816L7.905,264.422
      c-4.861,2.389-7.937,7.353-7.904,12.783c0.033,5.423,3.161,10.353,8.057,12.689l125.342,59.724l250.62-205.99L164.455,364.414
      l156.145,74.4c1.918,0.919,4.012,1.376,6.084,1.376c1.768,0,3.519-0.322,5.186-0.977c3.637-1.438,6.527-4.318,7.97-7.956
      L494.436,41.257C495.66,38.188,494.862,34.679,492.431,32.443z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                <span>Contact</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="right">
      <div id="carousel">
        <ul>
          <li class="pane pane1" id="me">
            <!-- Make this a :before on the li -->
            <div class="line"></div>
            <div class="inner">
              <h2>Me</h2>
              <h3>- The cringey awkward bit</h3>
              <p>Front end developer / web designer with over four year's experience working on responsive websites, web apps, ruby on rails, HTML emails, Wordpress websites/blogs, chrome extensions, Phonegap apps, AngularJS, wireframing, designing websites, iOS and Android apps using Photoshop and more recently Sketch.</p>
              <ul class="skills">
                <li>HTML / HTML 5</li>
                <li>Ruby on Rails</li>
                <li>CSS 3 / SASS/SCSS</li>
                <li>Wordpress theming / PHP</li>
                <li>JavaScript / jQuery (including jQuery mobile)</li>
                <li>AngularJS</li>
                <li>Photoshop</li>
                <li>Chrome/Safari Extensions</li>
                <li>Sketch</li>
                <li>API’s/JSON</li>
                <li>Canvas</li>
                <li>Phonegap</li>
                <li>HTML Emails</li>
                <li>Cross browser testing (including IE6)</li>
              </ul>
              <a href="#contact" class="btn-floating me">Get in Touch</a>
            </div>
          </li>

          <li class="pane pane2 current-projects" id="projects">
            <div class="line"></div>
            <div class="inner">
              <h2>Current Projects</h2>
              <h3>- What I'm doing in my spare time</h3>

              <div class="projects-container">
                <div class="project">
                  <span class="img"></span>
                  <div class="text">
                    <a href="https://chrome.google.com/webstore/detail/stack-overflow-counter/mfmnldmhlmedlaeodmdjkiikgjmbpfnl" target="_blank" class="title">Stack Overflow Counter</a>
                    <p class="info">This is something I put together as a bit of fun to see how many times my work colleague and I were visiting stackoverflow.com each day, week and month.</p>
                    <a href="https://chrome.google.com/webstore/detail/stack-overflow-counter/mfmnldmhlmedlaeodmdjkiikgjmbpfnl" target="_blank" class="btn projects">View in Chrome Store <span></span></a>
                  </div>
                </div>
                <div class="project">
                  <span class="img"></span>
                  <div class="text">
                    <a href="https://chrome.google.com/webstore/detail/newtab/likenmggpjdbigpmbmgknmfegnmpfplf" target="_blank" class="title">Another New Tab</a>
                    <p class="info">I know there are hundreds of these in the chrome store already, but I wanted one that did what I wanted and I wanted to learn how to make chrome extensions!</p>
                    <a href="https://chrome.google.com/webstore/detail/newtab/likenmggpjdbigpmbmgknmfegnmpfplf" target="_blank" class="btn projects">View in Chrome Store <span></span></a>
                  </div>
                </div>
                <div class="project">
                  <span class="img"></span>
                  <div class="text">
                    <a href="" target="_blank" class="title">CSS Snippets</a>
                    <p class="info">Currently developing a website with little snippets of code mostly html, css and javascript useful for me to copy and paste into new projects and maybe helpful for others.</p>
                    <a href="" target="_blank" class="btn projects">Coming Soon <span></span></a>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
            </div>
          </li>

          <li class="pane pane3" id="portfolio">
            <div class="line"></div>
            <div class="inner">
              <h2>Portfolio</h2>
              <h3>- A few of the websites I've worked on</h3>
              <table>
                <tr>
                  <th>Website</th>
                  <th>Involvement</th>
                </tr>

                <tr>
                  <td class="website"><a href="http://love2race.com/" target="_blank">Love2race.com</a></td>
                  <td>
                    Craft CMS, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://www.acornlimited.co.uk/" target="_blank">Acornlimited.co.uk</a></td>
                  <td>
                    Craft CMS, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://www.yourmobileadventure.com/" target="_blank">Yourmobileadventure.com</a></td>
                  <td>
                    Ruby on rails, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://www.a-bp.co.uk/" target="_blank">A-bp.co.uk</a></td>
                  <td>
                    Craft CMS, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://wortonhall.co.uk/" target="_blank">Wortonhall.co.uk</a></td>
                  <td>
                    Craft CMS, Front end.
                  </td>
                </tr>

                <tr>
                  <td class="website"><a href="http://www.celestialbeacons.com/" target="_blank">Celestialbeacons.com</a></td>
                  <td>
                    Ruby on rails, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.kbpentathlonapp.co.uk/" target="_blank">Kbpentathlonapp.co.uk</a></td>
                  <td>
                    Design (Photoshop), Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.barstillwell.com/" target="_blank">Barstillwell.com</a></td>
                  <td>
                    Design (Photoshop), Ruby on rails, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://blog.barstillwell.com" target="_blank">Blog.barstillwell.com</a></td>
                  <td>
                    Design (Photshop), Wordpress, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://phobolt.com/" target="_blank">Phobolt.com</a></td>
                  <td>
                    Ruby on rails, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.cv-library.co.uk/" target="_blank">Cv-library.co.uk</a></td>
                  <td>
                    Design, front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.garganinteriors.com/" target="_blank">Garganinteriors.com</a></td>
                  <td>
                    Ruby on rails, Front end.
                  </td>
                </tr>
                <tr>
                  <td class="website"><a href="http://www.davesell.com/" target="_blank">davesell.com</a></td>
                  <td>
                    Wordpress, Front end.
                  </td>
                </tr>
              </table>
            </div>
          </li>

          <li class="pane pane4" id="codepen">
            <div class="line"></div>
            <div class="inner">
              <h2>Codepen</h2>
              <h3>- Some picks from Codepen (<a href="http://codepen.io/adam2326/" target="_blank">codepen.io/adam2326</a>)</h3>
              <div class="codepen">

                <div class="equalHMRWrap eqWrap">
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/VYMOdx" class="title">Fancy forms</a>
                    <p class="info">Material design style form elements.</p>
                    <a href="http://codepen.io/adam2326/pen/VYMOdx" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/QwQmEX" class="title">Fancy mobile layout</a>
                  <p class="info">Swipe mobile layout using hammer.js</p>
                  <a href="http://codepen.io/adam2326/pen/QwQmEX" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/PwQqLB" class="title">Fancy dropdown menu</a>
                    <p class="info">Animated dropdown menu gmail style!</p>
                    <a href="http://codepen.io/adam2326/pen/PwQqLB" class="btn codepen">View Pen <span></span></a>
                  </div>

                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/raJrbw" class="title">Fancy mobile menu</a>
                    <p class="info">Simple css hamburger menu with animation.</p>
                    <a href="http://codepen.io/adam2326/pen/raJrbw" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/WbdNee" class="title">Fancy Floaty button</a>
                    <p class="info">Floating button / effective call to action.</p>
                    <a href="http://codepen.io/adam2326/pen/WbdNee" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/ucjgx" class="title">CSS 3D Kitchen</a>
                    <p class="info">3d kitchen built with css and image sprite!</p>
                    <a href="http://codepen.io/adam2326/pen/ucjgx" class="btn codepen">View Pen <span></span></a>
                  </div>


                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/EjWjqX" class="title">Button hover animation</a>
                    <p class="info">Simple button hover border animation.</p>
                    <a href="http://codepen.io/adam2326/pen/EjWjqX" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/OVzVqM" class="title">Fancy side menu</a>
                    <p class="info">Sliding menu that appears from behind page.</p>
                    <a href="http://codepen.io/adam2326/pen/OVzVqM" class="btn codepen">View Pen <span></span></a>
                  </div>
                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/oXdxXY" class="title">Fancy checkbox</a>
                    <p class="info">A slightly cooler way to display checkboxes.</p>
                    <a href="http://codepen.io/adam2326/pen/oXdxXY" class="btn codepen">View Pen <span></span></a>
                  </div>

                  <div class="equalHMR eq">
                    <a href="http://codepen.io/adam2326/pen/WvdbpP" class="title">Super simple tabs</a>
                    <p class="info">Super simple tabs, only a few lines of jquery.</p>
                    <a href="http://codepen.io/adam2326/pen/WvdbpP" class="btn codepen">View Pen <span></span></a>
                  </div>
                </div>

                <a href="http://codepen.io/adam2326/" target="_blank" class="btn-floating codepen">View More</a>

              </div>
            </div>
          </li>

          <li class="pane pane5" id="contact">
            <div class="line"></div>
            <div class="inner">
              <h2>Contact</h2>
              <h3>- Hi (<a href="mailto:hello@reldif.co.uk">hello@reldif.co.uk</a>)</h3>

              <div class="flex-grid">
                <div class="contact-form">
                  <div id='contact-box' class="group">
                    <div class="span6 clear">
                      <form action="/" method="post" class="well">
                        <label for="name">Your Name:</label>
                        <input type="text" name="name" class="span4" placeholder="John Smith...">
                        <label for="email">Your email address:</label>
                        <input type="text" name="email" class="span4" placeholder="email@example.com">
                        <label for="to">Your message:</label>
                        <textarea name="message" cols='30' rows="10"></textarea><br>
                        <button type="submit" class="btn" value="Send">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
                <address>
                  <p>Adam Fidler</p>

                  <p>40 Tarnbrook Way</p>
                  <p>Bracknell</p>
                  <p>Berkshire</p>
                  <p>RG12 0GB</p>

                  <p>0798 605 7038</p>
                </address>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <!-- <footer>
        Codepen / Github icons
      </footer> -->
    </div>
  <!-- End of hammer container -->
  </div>

</div>
