.btn{
	margin: 5px 0 0 0;
	font-size: 12px;
	padding: 5px 22px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 25px;
	color: #fff;
	font-family: 'Oswald Light', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}
	&.dark{
		color: $grey;
		border-color: $grey;
		&:hover{
			color: #fff;
			background-color: $grey;
		}
	}
	&.purple{
		color: $grey;
		border-color: $purple;
		&:hover{
			color: #fff;
			background-color: $purple;
		}
	}
	&.yellow{
		color: $grey;
		border-color: $yellow;
		&:hover{
			color: #fff;
			background-color: $yellow;
		}
	}
	&.pink{
		color: $grey;
		border-color: $pink;
		&:hover{
			color: #fff;
			background-color: $pink;
		}
	}
}
