.btn{
	display: inline-block;
	margin: 5px 0 0 0;
	font-size: 12px;
	padding: 5px 22px;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 25px;
	color: #fff;
	font-family: 'Oswald Light', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	position: relative;
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	transition: 0.4s ease;
	&:after,&:before{
		content: '';
		width: 0; height: 100%;
		background-color: #fff;
		position: absolute;
		top: 0;
		z-index: -1;
		transition: 0.3s ease;
	}
	&:before{ left: 50%; }
	&:after{ right: 50%; }
	&:hover{
		color: $grey;
		text-decoration: none;
		&:before{
			width: 50.1%;
			left: 0;
		}
		&:after{
			width: 50.1%;
			right: 0;
		}
	}
	&.dark{
		color: $grey;
		border-color: $grey;
		&:before,&:after{ background-color: $grey; }
		&:hover{ color: #fff; }
	}
	&.purple{
		color: $grey;
		border-color: $purple;
		&:before,&:after{ background-color: $purple; }
		&:hover{ color: #fff; }
	}
	&.yellow{
		color: $grey;
		border-color: $yellow;
		&:before,&:after{ background-color: $yellow; }
		&:hover{ color: #fff; }
	}
	&.pink{
		color: $grey;
		border-color: $pink;
		&:before,&:after{ background-color: $pink; }
		&:hover{ color: #fff; }
	}
}
