.cards-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.card-container{
  display: inline-block;
  width: 50%;
  padding: 20px;
  &:nth-of-type(odd){
    padding-left: 0;
  }
  &:nth-of-type(even){
    padding-right: 0;
  }
  .card{
    width: 100%;
    box-shadow: 0 15px 15px rgba(0,0,0,.08);
    transform: translate(0,0);
    transition: 0.4s ease;
    .top{
      min-height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .bottom{
      padding: 15px;
    }
    &:hover{
      box-shadow: 0 30px 30px rgba(0,0,0,.16);
      transform: translate(0,-10px);
    }
  }
}
