.codepen{
	.pen{
		float: left;
		width: 33.3%;
		margin: 0 0 20px 0;
		padding: 10px;
		.inner{
			float: left;
			width: 100%;
			padding: 10px;
		}
	}
}

.eqWrap {
	display: flex;
}

.equalHMRWrap {
	justify-content: space-between;
	flex-wrap: wrap;
}

.equalHMR {
	// width: 25%;
	&.eq {
		padding: 30px;
		position: relative;
		&:before,&:after{
			content: '';
			background-color: $grey;
			position: absolute;
			z-index: 3;
		}
		&:before{
			width: 1px; height: 12px;
			bottom: -6px; right: 0;
		}
		&:after{
			width: 12px; height: 1px;
			bottom: 0; right: -6px;
		}
		&:nth-child(4),&:nth-child(8),&:nth-child(9),&:nth-child(10),
		&:nth-child(11),&:nth-child(12){
			&:before,&:after{ display: none; }
		}
		@media(max-width: $tabletPortrait){
			&:nth-child(odd){
				&:before,&:after{ display: block; }
			}
			&:nth-child(even),&:nth-child(11){
				&:before,&:after{ display: none; }
			}
		}
		@media(max-width: $mobileLarge){
			&:before,&:after{ display: none !important; }
		}
	}
	a.title{
		float: left;
		width: 100%;
		font-family: 'Oswald Light', sans-serif;
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 10px;
	}
}

.eq:nth-of-type(1) { background-color: darken(#f5f5f5,1%); }
.eq:nth-of-type(2) { background-color: darken(#f5f5f5,2%); }
.eq:nth-of-type(3) { background-color: darken(#f5f5f5,3%); }
.eq:nth-of-type(4) { background-color: darken(#f5f5f5,4%); }
.eq:nth-of-type(5) { background-color: darken(#f5f5f5,5%); }
.eq:nth-of-type(6) { background-color: darken(#f5f5f5,6%); }
.eq:nth-of-type(7) { background-color: darken(#f5f5f5,7%); }
.eq:nth-of-type(8) { background-color: darken(#f5f5f5,8%); }
.eq:nth-of-type(9) { background-color: darken(#f5f5f5,9%); }
.eq:nth-of-type(10) { background-color: darken(#f5f5f5,10%); }
.eq:nth-of-type(11) { background-color: darken(#f5f5f5,11%); }
.eq:nth-of-type(12) { background-color: darken(#f5f5f5,12%); }

@media only screen and (max-width: 800px){
	.equalHMR{
		width: 49%;
	}
}

@media only screen and (max-width: 420px){
	.equalHMR{
		width: 100%;
	}
}
