flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.contact-form {
  flex: 1 1 calc(100% - 200px);
}
address{
  flex: 0 0 200px;
  padding: 0 0 0 20px;
}

.contact-form{
	.ninja-forms-required-items{
		margin: 0 0 20px 0;
	}
	label{
		float: left; width: 100%;
		span{ float: left; padding: 0 5px 0 0; }
	}
	input, textarea{
		float: left;
		width: 100%;
		margin: 3px 0 0 0 !important;
		padding: 5px 10px;
		border: 1px solid #ccc;
		border-bottom: 3px solid #ccc;
		&:focus{ outline: 0; border-color: #ac92ec; }
	}
	textarea{ height: 140px !important; }
	input[type="submit"]{
		float: left;
		padding: 10px 20px;
		background-color: $darkPurple;
		border: 0;
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		font-weight: 100;
		cursor: pointer;
		transition: 0.3s;
		&:hover{
			background-color: $purple;
		}
	}
}

@media only screen and (max-width: 520px){
	.contact-form {
  	flex: 1 1 calc(100% - 160px);
	}
	address{
	  flex: 0 0 160px;
	  padding: 0 0 0 20px;
	}
}

@media only screen and (max-width: 430px){
	.contact-form {
		display: block;
  	float: left;
  	width: 100%;
  	flex: 1 1 calc(100%);
	}
	address{ display: none; }
	input[type="submit"]{
		width: 100% !important;
	}
}
