.contact-form{
	display: inline-block;
	flex: 0 0 1;
	position: relative;
	z-index: 9;
	label{
		float: left; width: 100%;
		span{ float: left; padding: 0 5px 0 0; }
	}
	input, textarea{
		float: left;
		width: 100%;
		margin: 3px 0 20px 0 !important;
		padding: 5px 10px;
		border: 1px solid #ccc;
		border-bottom: 3px solid #ccc;
		position: relative;
		z-index: 9;
		&:focus{ outline: 0; border-color: #ac92ec; }
	}
	textarea{ height: 140px !important; }
	button{
		float: left;
		padding: 10px 20px;
		background-color: darken($purple, 10%);
		border: 0;
		color: #fff;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		font-weight: 100;
		cursor: pointer;
		transition: 0.3s;
		&:hover{
			color: #fff;
			background-color: $purple;
		}
	}
}

.contact-info{
	width: 360px;
	padding: 0 0 0 50px;
	p{
		display: flex;
		align-items: center;
		padding: 8px 0;
		letter-spacing: 1px;
	}
	@media(max-width: 528px){
		margin: 20px 0 0 0;
		padding: 0;
	}
}

.contact-icon{
	svg{
		display: inline-block;
		width: 20px; height: 20px;
		margin: 0 10px 0 0;
		fill: #333;
	}
}

@media only screen and (max-width: 520px){
	.contact-form {
  	flex: 1 1 calc(100% - 160px);
	}
	address{
	  flex: 0 0 160px;
	  padding: 0 0 0 20px;
	}
}

@media only screen and (max-width: 430px){
	.contact-form {
		display: block;
  	float: left;
  	width: 100%;
  	flex: 1 1 calc(100%);
	}
	address{ display: none; }
	input[type="submit"]{
		width: 100% !important;
	}
}
