@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/oswald-bold-webfont.woff2') format('woff2'),
       url('../fonts/oswald-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/oswald-light-webfont.woff2') format('woff2'),
       url('../fonts/oswald-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
       url('../fonts/oswald-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
       url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Bold Italic';
  src: url('../fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Italic';
  src: url('../fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
       url('../fonts/robotocondensed-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Light';
  src: url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'),
       url('../fonts/robotocondensed-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed Light Italic';
  src: url('../fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
       url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// General fonts
// -------------
a{
	color: #3BAFDA;
	text-decoration: none;
	&:hover{
		color: #4FC1E9;
		text-decoration: underline;
	}
}

p{
	line-height: 24px;
	margin: 0 0 10px 0;
	color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
}

// Main section fonts
// ------------------
.right h2{
  padding: 2px 15px;
	color: #333;
	font-family: 'Oswald Light', sans-serif;
	font-size: 28px;
	font-weight: 300;
  small{
    display: block;
    color: #333;
  	font-family: 'Roboto Condensed', sans-serif;
  	font-size: 16px;
  	font-style: italic;
  	font-weight: 100;
  }
}

// Main headings
// -------------
.right h3{
	color: #333;
	margin: 0 0 20px 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 100;
}
// Colours
.right li:nth-child(1) h2{ border-left: 4px solid $green; }
.right li:nth-child(2) h2{ border-left: 4px solid $pink; }
.right li:nth-child(3) h2{ border-left: 4px solid $blue; }
.right li:nth-child(4) h2{ border-left: 4px solid $yellow; }
.right li:nth-child(5) h2{ border-left: 4px solid $purple; }

// Contact form
// ------------
.ninja-forms-required-items,
.contact-form label, .contact-form input, .contact-form textarea{
	color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	font-weight: 400 !important;
}
