i.icon{
	float: left;
	height: 30px;
	background-size: auto 30px;
	background-repeat: no-repeat;
	margin: 0 8px 0 0;
	&.design{
		width: 30px;
		background-image: url(../images/icon_design.png);
	}
	&.backend{
		width: 33px;
		background-image: url(../images/icon_backend.png);
	}
	&.frontend{
		width: 34px;
		background-image: url(../images/icon_frontend.png);
	}
	&.wordpress{
		width: 30px;
		background-image: url(../images/icon_wordpress.png);
	}
	&.rails{
		width: 30px;
		background-image: url(../images/icon_rails.png);
	}
}
