.about-container{
	@media(max-width: 828px){
		display: flex;
		flex-direction: column;
	}
}

ul.skills{
	float: right;
	min-width: 500px;
	max-width: 500px;
	margin: 42px 0 20px 20px !important;
	padding: 20px !important;
	border: 1px dashed #ddd;
	position: relative;
	overflow: visible !important;
	@media(max-width: 828px){
		order: 1;
		min-width: initial; max-width: 100%;
		margin: 62px 0 0 0 !important;
	}
	&:before{
		content: 'Expertise';
		display: flex;
		align-items: center;
		height: 40px;
		padding: 0 20px;
		border: 1px dashed #ddd;
		border-bottom: 1px solid #fff;
		position: absolute;
		top: -42px; left: 5px;
		z-index: 1;
		color: #333;
		font-family: 'Oswald Light', sans-serif;
		font-weight: 300;
	}
	li{
		float: left !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%; min-height: 25px;
		padding: 10px 0 10px 40px;
		background-position: left center;
		background-repeat: no-repeat;
		background-size: auto 25px;
		color: #333;
		font-family: 'Roboto Condensed', sans-serif;
		&:nth-child(1){
			background-image: url(../images/icon_html.png);
		}
		&:nth-child(2){
			background-image: url(../images/icon_ruby.png);
		}
		&:nth-child(3){
			background-image: url(../images/icon_css.png);
		}
		&:nth-child(4){
			background-image: url(../images/icon_js.png);
		}
		&:nth-child(5){
			background-image: url(../images/icon_angular.png);
		}
		&:nth-child(6){
			background-image: url(../images/icon_wordpress.png);
		}
		&:nth-child(7){
			background-image: url(../images/icon_craft.png);
		}
		&:nth-child(8){
			background-image: url(../images/icon_chrome.png);
		}
		&:nth-child(9){
			background-image: url(../images/icon_photoshop.png);
		}
		&:nth-child(10){
			background-image: url(../images/icon_sketch.png);
		}
		&:nth-child(11){
			background-image: url(../images/icon_canvas.png);
		}
		&:nth-child(12){
			background-image: url(../images/icon_phonegap.png);
		}
		&:nth-child(13){
			background-image: url(../images/icon_email.png);
		}
		&:nth-child(14){
			background-image: url(../images/icon_ie.png);
		}
	}
}
