// Main nav
nav{
  margin-bottom: -5px;
  &.active{
    width: 100%; max-width: 1080px;
    padding: 0 20px;
    position: fixed;
    top: 0; left: 50%;
    z-index: 9;
    transform: translateX(-50%);
  }
}
ul.main{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  li{
    width: 100%;
    &:nth-child(1) a{
      border-color: $green;
      &:before{
        background-color: $green;
      }
      &:after{
        background-color: darken($green, 10%);
      }
    }
    &:nth-child(2) a{
      border-color: $pink;
      &:before{
        background-color: $pink;
      }
      &:after{
        background-color: darken($pink, 10%);
      }
    }
    &:nth-child(3) a{
      border-color: $blue;
      &:before{
        background-color: $blue;
      }
      &:after{
        background-color: darken($blue, 10%);
      }
    }
    &:nth-child(4) a{
      border-color: $yellow;
      &:before{
        background-color: $yellow;
      }
      &:after{
        background-color: darken($yellow, 10%);
      }
    }
    &:nth-child(5) a{
      border-color: $purple;
      &:before{
        background-color: $purple;
      }
      &:after{
        background-color: darken($purple, 10%);
      }
    }
    &:nth-child(6) a{
      border-color: $orange;
      &:before{
        background-color: $orange;
      }
      &:after{
        background-color: darken($orange, 10%);
      }
    }
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      line-height: 50px;
      margin: 0 0 5px 0;
      padding: 0 10px;
      background-color: #fff;
      border-bottom: 4px solid;
      color: #333;
      font-family: 'Oswald', sans-serif;
      font-size: 17px;
      font-weight: 300;
      text-decoration: none;
      text-indent: 0;
      position: relative;
      transition: 0.5s;
      span{
        position: relative;
        z-index: 1;
      }
      &:before{
        content: '';
        width: 100%;
        height: 0%;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.2s;
      }
      &:after{
        content: '';
        width: 0;
        height: 4px;
        position: absolute;
        left: 50%;
        bottom: -4px;
        transition: 0.4s;
      }
      &:hover{
        color: #fff;
        svg{
          fill: #fff;
        }
      }
      &:hover:before{
        height: 100%;
      }
      &:hover:after{
        width: 100%;
        left: 0;
      }
      svg{
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
        position: relative;
        z-index: 1;
        fill: #333;
        transition: 0.3s;
      }
    }
  }
}

@media only screen and (max-width: 740px){
  ul.main{
    li:nth-child(2) a span{
      font-size: 0;
      &:after{
        content: 'Projects';
        font-size: 17px;
        transition: 0.5s;
      }
    }
    li:nth-child(6){
      display: none;
    }
  }
}

@media only screen and (max-width: 590px){
  ul.main{
    li{
      &:nth-child(2) a span:after{ font-size: 0; }
      a{ font-size: 0; }
    }
    svg{
      margin-left: -10px !important;
      left: 50% !important;
    }
  }
}
