table{
	width: 100%;
	margin: 0 0 20px 0;
	border-spacing: 2px;
  border-collapse: separate;
	tr{
		&:nth-child(odd) td{
			background-color: #f9f9f9;
		}
		&:nth-child(even) td{
			background-color: #eee;
		}
		td, th{
			display: table-cell;
			vertical-align: middle;
			padding: 8px;
		}
		th{
			border: 1px solid #ddd;
			font-family: 'Oswald Light', sans-serif;
			font-size: 16px;
			font-weight: bold;
			font-weight: 400;
		}
		td{
			border: 1px solid #ddd;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 16px;
			&.website{
				width: 30%;
			}
			i:last-of-type{
				margin-right: 0;
			}
		}
	}
}

@media only screen and (max-width: 740px){
	table{
		margin-bottom: 0;
	}
}
