// Colours
$green: #48CFAD;
$darkGreen: #28ab8b;

$pink: #EC87C0;
$darkPink: #D770AD;

$blue: #4FC1E9;
$darkBlue: #2496c1;

$yellow: #FFCE54;
$darkYellow: #f0b234;

$purple: #AC92EC;
$darkPurple: #8669cd;


// Flexbox mixins
